BusReservationService/WebClient/Connected Services/BusService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/BusService" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="AddBus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="busName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="src" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dest" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="time" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBusResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuses">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBusesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BusService" minOccurs="0" name="GetBusesResult" nillable="true" type="q1:ArrayOfBus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSeats">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="busId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSeatsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BusService" minOccurs="0" name="GetSeatsResult" nillable="true" type="q2:ArrayOfSeat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookSeats">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="seatIds" nillable="true" type="q3:ArrayOfint" />
        <xs:element minOccurs="0" name="userToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookSeatsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>