BusReservationService/WebClient/Connected Services/BusService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BusService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/BusService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBusService_AddBus_InputMessage">
    <wsdl:part name="parameters" element="tns:AddBus" />
  </wsdl:message>
  <wsdl:message name="IBusService_AddBus_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddBusResponse" />
  </wsdl:message>
  <wsdl:message name="IBusService_GetBuses_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBuses" />
  </wsdl:message>
  <wsdl:message name="IBusService_GetBuses_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBusesResponse" />
  </wsdl:message>
  <wsdl:message name="IBusService_GetSeats_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSeats" />
  </wsdl:message>
  <wsdl:message name="IBusService_GetSeats_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSeatsResponse" />
  </wsdl:message>
  <wsdl:message name="IBusService_BookSeat_InputMessage">
    <wsdl:part name="parameters" element="tns:BookSeat" />
  </wsdl:message>
  <wsdl:message name="IBusService_BookSeat_OutputMessage">
    <wsdl:part name="parameters" element="tns:BookSeatResponse" />
  </wsdl:message>
  <wsdl:portType name="IBusService">
    <wsdl:operation name="AddBus">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusService/AddBus" message="tns:IBusService_AddBus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusService/AddBusResponse" message="tns:IBusService_AddBus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBuses">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusService/GetBuses" message="tns:IBusService_GetBuses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusService/GetBusesResponse" message="tns:IBusService_GetBuses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSeats">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusService/GetSeats" message="tns:IBusService_GetSeats_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusService/GetSeatsResponse" message="tns:IBusService_GetSeats_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BookSeat">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusService/BookSeat" message="tns:IBusService_BookSeat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusService/BookSeatResponse" message="tns:IBusService_BookSeat_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBusService" type="tns:IBusService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddBus">
      <soap:operation soapAction="http://tempuri.org/IBusService/AddBus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBuses">
      <soap:operation soapAction="http://tempuri.org/IBusService/GetBuses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSeats">
      <soap:operation soapAction="http://tempuri.org/IBusService/GetSeats" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BookSeat">
      <soap:operation soapAction="http://tempuri.org/IBusService/BookSeat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BusService">
    <wsdl:port name="BasicHttpBinding_IBusService" binding="tns:BasicHttpBinding_IBusService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/BusService/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>